<h1 style="text-align: center">Carica opera</h1>
<form>
  <div class="form-group">
    <label for="inputAddress">Titolo</label>
    <input
      type="text"
      class="form-control"
      placeholder="Nome"
      #oraChiusuraCassa
    />
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Carica opera</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" />
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Tema</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12 mb-3">
      <select class="form-control">
        <option selected>Tema...</option>
        <option>Tema 1</option>
        <option>Tema 2</option>
        <option>Tema 3</option>
        <option>Tema 4</option>
        <option>Tema 5</option>
      </select>
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label class="col-sm-2 col-form-label">Descrizione</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12">
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label class="col-sm-2 col-form-label">Dimensioni</label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-1">
      <input
        type="number"
        class="form-control"
      />
    </div> 
    <div style="align-self: center;">X</div>
    <div class="form-group col-md-1">
      <input
        type="number"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Tecnica</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12 mb-3">
      <select class="form-control">
        <option selected>Tecnica...</option>
        <option>Tecnica 1</option>
        <option>Tecnica 2</option>
        <option>Tecnica 3</option>
        <option>Tecnica 4</option>
        <option>Tecnica 5</option>
      </select>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onOkClick()"
  >
    Allestisci
  </button>
  <br />
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onCancelClick()"
  >
    Annulla
  </button>
</form>
