<!-- <app-nav-menu [home]="false"></app-nav-menu> -->
<div class="container">
  <div>
    <h1 class="titolo-mostra">Studio</h1>
  </div>
  <div class="studio-button-container" (click)="carica()">
    <div class="studio-button">Carica Opera</div>
  </div>
  <div class="content-opere">
    <div class="opera">
      <img
        src="../../../assets/quadro142.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro154.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <a href="opera">
      <div class="opera">
        <img
          src="../../../assets/madre_perla_028.png"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <div class="opera">
      <img
        src="../../../assets/quadro172.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro156.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro94.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro184.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <a href="opera">
      <div class="opera">
        <img
          src="../../../assets/madre_perla_028.png"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <div class="opera">
      <img
        src="../../../assets/quadro142.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro184.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro172.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro154.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro94.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro156.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px"></div>
