.vertical-menu {
  width: 100%;
  height: calc(100vh);
  background-color: #efefef;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  border-radius: 50em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

.vertical-menu a {
  color: black;
  display: flex;
  text-decoration: none;
  padding: 1em calc(100vh - 97vh);
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #eee;
  color: white;
}

.vertical-menu p {
  margin: 0 0 0 10px;
}

.vertical-menu a #logout-button {
    margin-top: auto;
}

@media screen and (max-width: 1020px) {
  .vertical-menu p {
    display: none;
  }

  .vertical-menu a {
    display: block;
    text-align: center;
  }

}

.title-container {
  height: 55px;
}

