<h1 style="text-align: center">Allestisci mostra</h1>
<form>
  <div class="form-group">
    <label for="inputAddress">Titolo</label>
    <input
      type="text"
      class="form-control"
      placeholder="Nome"
      #oraChiusuraCassa
    />
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Data apertura</label>
      <input
        type="date"
        class="form-control"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Data chiusura</label>
      <input
        type="date"
        class="form-control"
      />
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label class="col-sm-2 col-form-label">Descrizione</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12">
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Tema</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12 mb-3">
      <select class="form-control">
        <option selected>Tema...</option>
        <option>Tema 1</option>
        <option>Tema 2</option>
        <option>Tema 3</option>
        <option>Tema 4</option>
        <option>Tema 5</option>
      </select>
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label class="col-sm-2 col-form-label">Seleziona opere</label>
  </div>
  <div class="content-opere">
    <div class="opera">
      <img
        src="../../../assets/quadro142.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro154.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <a href="opera">
      <div class="opera">
        <img
          src="../../../assets/madre_perla_028.png"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay"></div>
      </div>
    </a>
    <div class="opera">
      <img
        src="../../../assets/quadro172.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro156.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro94.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro184.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <a href="opera">
      <div class="opera">
        <img
          src="../../../assets/madre_perla_028.png"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay"></div>
      </div>
    </a>
    <div class="opera">
      <img
        src="../../../assets/quadro142.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro184.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro172.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro154.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro94.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro156.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay"></div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onOkClick()"
  >
    Allestisci
  </button>
  <br />
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onCancelClick()"
  >
    Annulla
  </button>
</form>
