<h1 style="text-align: center">Accedi</h1>
<form>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12">
      <input
        type="email"
        class="form-control"
        id="inputEmail3"
        placeholder="Email"
      />
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <input
        type="password"
        class="form-control"
        id="inputPassword3"
        placeholder="Password"
      />
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onLoginClick()"
  >
    Accedi
  </button>
  <br />
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onCancelClick()"
  >
    Annulla
  </button>
  <br>
  <div>
    <p>
      Non sei registrato?
      <span style="color: blue" (click)="registrati()">Registrati QUI</span>
    </p>
  </div>
</form>
