<div class="float-container">
  <div class="arrow-left">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="60"
      viewBox="0 0 24 24"
      width="60"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
        fill="#828282"
      />
    </svg>
  </div>
  <div class="float-child1">
    <img
      class="img-thumbnail rounded"
      src="../../assets/madre_perla_028.png"
      alt="madre perla"
    />
  </div>

  <div class="float-child2">
    <div class="infos">
      <h1 style="font-size: 40px">Madre perla</h1>
      <h3><em>Mario Rossi</em></h3>
      <h3>
        L'opera risale all'estate del 1967. Una composizione di colori e sagome
        astratte si combina con maestria fino a creare una sagoma c3e risulta
        distinguibile anche alla prima occhiata e che custodisce, nel suo
        centro, una Madre Perla.
      </h3>
      <br /><br />
      <h3>Olio</h3>
      <h3>45x90</h3>
      <br /><br />
    </div>
  </div>
  <div class="arrow-right">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="60"
      viewBox="0 0 24 24"
      width="60"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"
        fill="#828282"
      />
    </svg>
  </div>
</div>
