.float-container {
  margin: 0 5vh;
  display: grid;
  grid-template-columns: 50px auto auto 50px;
}

.float-child1 {
  grid-column-start: 2;
  padding: 5vh;
}

.float-child2 {
  grid-column-start: 3;
  padding: 5vh;
}

em {
  color: rgb(148, 148, 148);
}

.arrow-left {
    grid-column-start: 1;
    text-align: center;
    margin: auto;
    padding: 5px;
  }
  
  .arrow-right {
    grid-column-start: 4;
    text-align: center;
    margin: auto;
    padding: 5px;
  }