<!-- <app-nav-menu [home]="true"></app-nav-menu> -->

<div class="galleria-container">
  <div class="tema-container">
    <div class="title-container">
      <h2>Primo tema</h2>
    </div>
    <div class="arrow-left" (click)="scrollRight(temaUno)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
    <div class="mostre-container" #temaUno>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro32.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro32.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro32.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro32.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro32.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro32.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="arrow-right" (click)="scrollLeft(temaUno)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
  </div>
  <div class="tema-container">
    <div class="title-container">
      <h2>Secondo tema</h2>
    </div>
    <div class="arrow-left" (click)="scrollRight(temaDue)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
    <div class="mostre-container" #temaDue>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro202.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro202.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro202.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro202.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro202.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro202.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="arrow-right" (click)="scrollLeft(temaDue)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
  </div>
  <div class="tema-container">
    <div class="title-container">
      <h2>Terzo tema</h2>
    </div>
    <div class="arrow-left" (click)="scrollRight(temaTre)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
    <div class="mostre-container" #temaTre>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro48.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro48.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro48.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro48.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro48.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro48.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="arrow-right" (click)="scrollLeft(temaTre)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
  </div>
  <div class="tema-container">
    <div class="title-container">
      <h2>Quarto tema</h2>
    </div>
    <div class="arrow-left" (click)="scrollRight(temaQuattro)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
    <div class="mostre-container" #temaQuattro>
      <a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro59.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro59.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro59.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro59.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro59.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div> </a
      ><a href="mostra"
        ><div class="mostra">
          <img
            src="../../../assets/quadro59.jpg"
            alt=""
            class="img-thumbnail rounded"
          />
          <div class="overlay">
            <h4><b>Lorem ipsum</b></h4>
            <p class="opera-description">
              <b>50 x 80</b> <br />
              Lorem ipsum dolor sit amet, consectetur...
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="arrow-right" (click)="scrollLeft(temaQuattro)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 0 24 24"
        width="60"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"
          fill="#828282"
        />
      </svg>
    </div>
  </div>
</div>
