::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

.mostra {
  display: inline-block;
  width: 100%;
  position: relative;
}

.mostra img {
  display: block;
  width: 100%;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.515);
}

.galleria-container {
  width: auto;
  margin: 5vh 10vh;
}

.mostre-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  grid-column-start: 2;
  grid-row-start: 2;
}
.mostra {
  flex: 0 0 auto;
  width: 300px;
}

.tema-container {
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 40px auto;
  display: grid;
}

.title-container {
  grid-column-start: 2;
  grid-row-start: 1;
}

.arrow-left {
  grid-column-start: 1;
  grid-row-start: 2;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.arrow-right {
  grid-column-start: 3;
  grid-row-start: 2;
  text-align: center;
  margin: auto;
  padding: 5px;
}

a {
    color: black;
}
