.search {
  display: flex;
  margin: 1.5em;
  align-items: center;
  justify-content: space-between;
}
.search .data-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search .data-search div{
  padding: 1em 1em 0em 0em;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #efefef;
}

.table-cont {
  margin: 1.5em;
}

.search input {
  width: 100%;
}
