.titolo-mostra {
  padding: 3vh 0 0 0;
  text-align: center;
  font-size: 35px;
  color: rgb(82, 82, 82);
}

.mostre-container {
  column-count: 3;
}

a {
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 2vh);
  width: calc(100% - 2vh);
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
  margin: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.515);
}

.mostra {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 1vh;
  height: 30vh;
  overflow: hidden;
}

.mostra img {
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.studio-button-container {
  margin-top: 50px;
  text-align: center;
}

.studio-button {
  background-color: #684363;
  color: white;
  padding: 15px 45px;
  border-radius: 5px;
  position: relative;
  margin: auto;
  display: inline-block;
  font-size: 20px;
  border-bottom: 5px solid #4d3149;
  margin-bottom: 2vh;
}
