<div class="container">
  <div>
    <h1 class="titolo-mostra">Storico</h1>
  </div>
  <div class="studio-button-container" (click)="allestisci()">
    <div class="studio-button">Allestisci mostra</div>
  </div>
  <div class="mostre-container">
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro154.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img src="../../../assets/quadro32.jpg" alt="" class="img-thumbnail" />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="storico"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay" id="storico-button">
          <b><p>Vai allo storico delle mostre</p></b>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
