<div class="header"></div>
<div class="container">
  <div class="image-container">
    <div class="image-profile">
      <img src="../../../assets/quadro142.jpg" />
    </div>
  </div>
  <div class="personal-data">
    <b><h1>Mario Rossi</h1></b>
    <p>
      Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris
      justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa
      vestibulum malesuada, integer vivamus elit eu 1mauris eus, cum eros quis
      aliqua, urna praesent at id quisque ac. Arcu es massa vestibulum
      malesuada, integer vivamus elit eu mauris eus, cum eros quis aliquam wisi.
    </p>
  </div>
  <div class="mostre-container">
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="mostra"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
    <a href="storico"
      ><div class="mostra">
        <img
          src="../../../assets/quadro32.jpg"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay" id="storico-button">
          <b><p>Vai allo storico delle mostre</p></b>
        </div>
      </div>
    </a>
  </div>
  <a href="studio">
    <div class="studio-button-container">
      <div class="studio-button">Studio</div>
    </div>
  </a>
</div>
