.header {
  height: 250px;
  background-color: #f5ceae;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
}

.image-profile {
  position: absolute;
  top: -100px;
  left: calc(50% - 100px);
}

.image-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.personal-data {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 1vh;
}

.personal-data p {
  font-size: 12px;
  color: rgb(187, 187, 187);
}

.mostre-container {
  display: flex;
  flex-wrap: nowrap;
}

a {
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 2vh);
  width: calc(100% - 2vh);
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
  margin: 1vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.515);
}

#storico-button {
  background-color: rgb(233, 233, 233);
  opacity: 1;
  border-radius: 5px;
  padding: auto;
}
#storico-button b {
  margin: auto 2vh;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  text-align: center;
  color: gray;
}

.mostra {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 1vh;
}

.mostra img {
  display: block;
  width: 100%;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.studio-button-container {
  margin-top: 50px;
  text-align: center;
}

.studio-button {
  background-color: #684363;
  color: white;
  padding: 15px 45px;
  border-radius: 5px;
  position: relative;
  margin: auto;
  display: inline-block;
  font-size: 20px;
  border-bottom: 5px solid #4d3149;
  margin-bottom: 20vh;
}
