<h1 mat-dialog-title style="text-align: center">{{data.title}}</h1>
<div mat-dialog-content style="text-align: center">
  <p>{{data.question}}</p>
  <p style="color: red" *ngIf="!data.validation">{{data.notValidateMessage}}</p>
</div>
<div mat-dialog-actions style="padding-bottom: 1em">
  <button (click)="onNoClick()" style="margin-right: auto" mat-button>
    {{data.leftButton}}
  </button>
  <button *ngIf="!data.singleButton" (click)="onOkClick()" style="margin-left: auto" mat-button>
    {{data.rightButton}}
  </button>
</div>
