<!-- <app-nav-menu [home]="false"></app-nav-menu> -->
<div class="container">
  <div>
    <h1 class="titolo-mostra">Titolo</h1>
    <h5 class="descrizione">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
      erat a ante.
    </h5>
  </div>
  <div class="content-opere">
    <div class="opera">
      <img
        src="../../../assets/quadro142.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro184.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro172.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro154.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro156.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro94.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <div class="opera">
      <img
        src="../../../assets/quadro32.jpg"
        alt=""
        class="img-thumbnail rounded"
      />
      <div class="overlay">
        <h4><b>Lorem ipsum</b></h4>
        <p class="opera-description">
          <b>50 x 80</b> <br />
          Lorem ipsum dolor sit amet, consectetur...
        </p>
      </div>
    </div>
    <a href="opera">
      <div class="opera">
        <img
          src="../../../assets/madre_perla_028.png"
          alt=""
          class="img-thumbnail rounded"
        />
        <div class="overlay">
          <h4><b>Lorem ipsum</b></h4>
          <p class="opera-description">
            <b>50 x 80</b> <br />
            Lorem ipsum dolor sit amet, consectetur...
          </p>
        </div>
      </div>
    </a>
  </div>
  <div>
    <div>
      <h2 class="titolo-critiche">Critiche</h2>
    </div>
    <div class="critiche-container">
      <div class="critica">
        <div style="float: left; margin-right: 2vh">
          <img
            style="border-radius: 50px"
            width="50px"
            height="50px"
            src="../../../assets/quadro142.jpg"
          />
        </div>
        <div>
          <h4>Mario Rossi</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="critica">
        <div style="float: left; margin-right: 2vh">
          <img
            style="border-radius: 50px"
            width="50px"
            height="50px"
            src="../../../assets/quadro184.jpg"
          />
        </div>
        <div>
          <h4>Luigi Bianchi</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px"></div>
