.content-opere {
  column-count: 4;
}

.opera {
  display: inline-block;
  width: 100%;
  position: relative;
}

.opera img {
  display: block;
  width: 100%;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

/* .opera img:hover {
  opacity: 1;
} */

.titolo-mostra {
  padding: 3vh 0 0 0;
  text-align: center;
  font-size: 35px;
  color: rgb(82, 82, 82);
}

.descrizione {
  text-align: center;
  color: rgb(151, 151, 151);
}

.titolo-critiche {
  text-align: center;
  color: rgb(82, 82, 82);
  padding: 3vh 0 0 0;
}

.critiche-container {
  width: 100%;
}

.critica {
  width: auto;
  display: block;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(82, 82, 82, 0.385);
  border-radius: 5px;
  margin: 1vh;
  padding: 2vh;
}

.critica h6 {
  color: rgb(82, 82, 82);
}

.critica p {
  color: rgb(151, 151, 151);
  font-size: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.515);
}

.opera-description {
    font-size: 12px;
    margin-bottom: 0;
}

a {
  color: black;
}