<body style="height: 100vh">
  <style>
    .menu {
      height: calc(100vh);
    }

    .content {
      height: calc(100vh);
      overflow: auto;
    }

    menu {
      padding: 0;
      margin: 0;
    }
  </style>
  <!-- <login *ngIf="!isAuthenticated(); else logged"></login> -->
  <!-- <ng-template #logged> -->
  <div class="home-container">
    <!-- Decommenta la seguente linea per far apparire il menù laterale -->
    <!-- <div class="menu">
        <menu></menu>
      </div> -->
    <app-nav-menu></app-nav-menu>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <!-- </ng-template> -->
</body>
