.bg-img {
  margin: 0;
  background-color: blue;
  min-height: 100vh;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  // display: block;
  width: 100%;
}

.cover {
  margin: 0;
  background-color: #fceee2;
  min-height: 100vh;
  // background-size: cover;
  font-family: "Raleway", sans-serif;
  display: block;
  width: 100%;
  padding: 5vh;
}

.login-form-container {
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 3em;
  box-sizing: border-box;
  // padding-top: 5vh;
}

div {
  display: block;
}

img {
  margin: 0;
  padding-bottom: 30px;
  width: 90%;
}

.login-form-group {
  margin: 20px 0;
}

.login-form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #d2d2d2;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-style: italic;
}

label {
  cursor: default;
}

.group {
  display: flex;
  padding: 15px 5px;
  background-color: #efefef;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  box-sizing: border-box;
  background: transparent;
  color: rgb(59, 59, 59);
}

input[type="text" i] {
  padding: 1px 2px;
}

input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.forgot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.forgot p {
  color: rgb(118, 118, 118);
  text-align: center;
  margin: 0px;
  font-size: 13px;
}

a {
  color: rgb(118, 118, 118);
  font-size: 14px;
  text-decoration: none;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

button {
  background: rgb(155, 204, 203);
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  padding: 12px 60px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

p.register {
  color: rgb(118, 118, 118);
  font-size: 13px;
  text-align: center;
  margin-top: 2em;
}

p {
  display: block;
}

.register-link {
  color: #00bcd4;
  text-decoration: none;
}

/*h1 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 50px 0;
  display:block;
}*/

.login-bar {
  top: 0;
  display: grid;
  grid-template-columns: 24px auto auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: #0d1326;
}

.bi .bi-question-circle {
  color: white;
}

.bar-component {
  color: white;
  line-height: 24px;
  display: none;
}

.mat-spinner-color::ng-deep circle {
  stroke: #ffffff !important;
}
