<body style="height: 100vh;">
  <!-- Demo bar start -->

    <div class="cover">
      <!-- <div class="login-bar">
       
      </div> -->
      <div class="login-form-container">
        <div style="text-align: center">
          <img src="../../../assets/LoginHeader.png" (load)="appear()" />
        </div>
        <div *ngIf="isLoaded">
          <form #form="ngForm" (ngSubmit)="login(form)" action="" name="loginForm" method="get">
            <div *ngIf="this.auth.invalidLogin" style="color: red; text-align: center">
              Invalid username or password.
            </div>
            <div class="login-form-group">
              <label>Username:</label>
              <div class="group">
                <i class=""></i>
                <input
                  name="username"
                  ngModel
                  #nome="ngModel"
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  required="required"
                />
              </div>
            </div>
            <div class="login-form-group">
              <label>Password:</label>
              <div class="group">
                <i class=""></i>
                <input
                  name="password"
                  ngModel
                  #nome="ngModel"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required="required"
                />
              </div>
            </div>
            <div class="forgot">
              <a href="#">Forgot Password?</a>
              <p><input type="checkbox" />Remember Me</p>
            </div>
            <button *ngIf="!this.auth.querying" type="submit" >Login</button>
            <button *ngIf="this.auth.querying">
              <mat-spinner diameter="20" class="mat-spinner-color" style="margin: auto;"></mat-spinner>
            </button>
          </form>
          <p class="register">
            Don't have an account?<a href="#" class="register-link">
              Register</a
            >
          </p>
        </div>
        <mat-spinner *ngIf="!isLoaded" style="margin: auto;"></mat-spinner>
      </div>
    </div>
</body>
