<div class="nav-container">
  <div *ngIf="!this.ds.logged" id="button-container">
    <!-- <a href="login"> -->
    <div class="button" (click)="login()">Accedi</div>
    <!-- </a> -->
  </div>
  <div *ngIf="this.ds.logged && this.ds.home" id="profile-img-left">
    <div>
      <a href="profilo">
        <img
          style="border-radius: 50px; display: block"
          width="50px"
          height="50px"
          src="../../../assets/quadro184.jpg"
        />
      </a>
    </div>
  </div>
  <div id="nav-image">
    <a href="/">
      <img style="height: 150px" src="../../assets/nav-bar.png" />
    </a>
  </div>
  <div *ngIf="this.ds.home" id="elenco">
    <div (click)="openNav()">
      <span
        style="vertical-align: middle; display: inline-block; margin: 0 2px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 20 20"
          height="28"
          viewBox="0 0 28 24"
          width="20"
        >
          <g><rect fill="none" height="28" width="28" /></g>
          <g>
            <path
              fill="white"
              d="M12,12c2.21,0,4-1.79,4-4c0-2.21-1.79-4-4-4S8,5.79,8,8C8,10.21,9.79,12,12,12z M18.39,14.56C16.71,13.7,14.53,13,12,13 c-2.53,0-4.71,0.7-6.39,1.56C4.61,15.07,4,16.1,4,17.22L4,19c0,0.55,0.45,1,1,1h14c0.55,0,1-0.45,1-1l0-1.78 C20,16.1,19.39,15.07,18.39,14.56z"
            />
          </g>
        </svg>
      </span>
      <span style="vertical-align: middle; display: inline-block; color: white"
        >Elenco Artisti</span
      >
    </div>
    <div class="sidebar" id="mySidebar">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
      <div class="form-row">
        <div class="form-group col-md-10">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush" >
        <li class="list-group-item">Mario Rossi</li>
        <li class="list-group-item">Leonardo Ferrari</li>
        <li class="list-group-item">Francesco Marchetti</li>
        <li class="list-group-item">Alessandro Ricci</li>
        <li class="list-group-item">Andrea Romano</li>
        <li class="list-group-item">Alice Giordano</li>
        <li class="list-group-item">Leonardo Colombo</li>
        <li class="list-group-item">Aurora Mazza</li>
        <li class="list-group-item">Alessandro Marini</li>
        <li class="list-group-item">Greta Gallo</li>
      </ul>
    </div>
  </div>
  <div *ngIf="this.ds.logged && !this.ds.home" id="profile-img-right">
    <div>
      <a href="profilo">
        <img
          style="border-radius: 50px; display: block"
          width="50px"
          height="50px"
          src="../../../assets/quadro184.jpg"
        />
      </a>
    </div>
  </div>
</div>
