.nav-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: #f5ceae;
  width: 100%;
  color: white;
  height: 100px;
}

#profile-img-left {
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
}

#profile-img-right {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

#button-container {
  grid-column-start: 1;
  justify-self: center;
  align-self: center;
}
.button {
  background-color: #684363;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
}

#nav-image {
  grid-column-start: 2;
  position: relative;
  align-items: center;
}

#elenco {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

#nav-image img {
  display: block;
  position: absolute;
  top: -25%;
  left: calc(50% - 200px);
  
}

.sidebar {
  height: 100%;
  width: 550px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  overflow-x: hidden;
  background-color: white;
  transition: 0.5s;
  padding: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

li {
  color: #818181;
}