<h1 style="text-align: center">Registrati</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Nome</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nome"
        #oraChiusuraCassa
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Cognome</label>
      <input
        type="text"
        class="form-control"
        placeholder="Cognome"
        #oraChiusuraCassa
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Luogo di residenza</label>
      <input
        type="text"
        class="form-control"
        placeholder="Residenza"
        #oraChiusuraCassa
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Provincia</label>
      <input
        type="text"
        class="form-control"
        placeholder="Provincia"
        #oraChiusuraCassa
      />
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label class="col-sm-2 col-form-label">Descrizione</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12">
      <textarea class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <div class="col-sm-12">
      <input
        type="email"
        class="form-control"
        id="inputEmail3"
        placeholder="Email"
      />
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <input
        type="password"
        class="form-control"
        id="inputPassword3"
        placeholder="Password"
      />
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Conferma</label>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <input
        type="password"
        class="form-control"
        id="inputPassword3"
        placeholder="Conferma Password"
      />
    </div>
  </div>
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onRegClick()"
  >
    Registrati
  </button>
  <br />
  <button
    type="button"
    class="btn btn-outline-dark btn-lg btn-block"
    (click)="onCancelClick()"
  >
    Annulla
  </button>
</form>
